<% if (locals.success && locals.success.length > 0) { %>
  <div class="successes">
    <% success.forEach(message => { %>
      <div class="success"><%= message %></div>
    <% }); %>
  </div>
<% } %>
