<%- include('./partials/upper_body.ejs') %>
<%- include('./partials/new_message_link.ejs') %>


<% if (locals.messages && messages.length > 0) { %>
  <div class="messages">
  <% messages.forEach(message => { %>
    <%- include('./partials/message.ejs', {message}) %>
  <% }) %>
  </div>
<% } %>
<%- include('./partials/lower_body.ejs') %>