<%- include('./partials/upper_body.ejs') %>
<form action="/join" method="POST">
  <div class="form-row">
    <label for="member-password">
      Member Password
    </label>
    <input type="password" name="member-password" id="member-password" required >
  </div>
  <div class="buttons">
    <button class="button" type="submit">Submit</button>
  </div>
</form>
<%- include('./partials/lower_body.ejs') %>